[submodule "prompto-java"]
	path = prompto-java
	url = https://ericvergnaud@github.com/prompto/prompto-java.git
[submodule "dev-center"]
	path = dev-center
	url = https://ericvergnaud@github.com/prompto/prompto-dev-center.git
[submodule "data-explorer"]
	path = data-explorer
	url = https://ericvergnaud@github.com/prompto/prompto-data-explorer.git
